.cover__subtitle {
    margin: 0;
    padding-bottom: calc(23.5% - 32px);
    max-width: 360px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    z-index: 2;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        padding-bottom: calc(22.25% - 32px);
    }
} 

@media screen and (max-width: 768px) {
    .cover__subtitle {
        padding-bottom: 115px;
    }
} 

@media screen and (max-width: 580px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
    }
} 

@media screen and (max-width: 320px) {
    .cover__subtitle {
        padding-bottom: 33px;
    }
} 