.place__paragraphs {
    max-width: 484px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .place__paragraphs {
        max-width: 456px;
    }
} 

@media screen and (max-width: 900px) {
    .place__paragraphs {
        max-width: 352px;
    }
} 

@media screen and (max-width: 420px) {
    .place__paragraphs {
        max-width: 288px;
    }
} 