.place {
    margin: 0 auto;
    max-width: 984px;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 1fr 1.052fr;
    row-gap: 48px;
    column-gap: 40px;
}

@media screen and (max-width: 1024px) {
    .place {
        max-width: 928px;
        grid-template-columns: 1fr 1.036fr;
        column-gap: 32px;
    }
} 

@media screen and (max-width: 900px) {
    .place {
        max-width: 720px;
        grid-template-columns: 1fr 1.035fr;
        column-gap: 28px;
    }
} 

@media screen and (max-width: 420px) {
    .place {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 32px;
        align-items: center;
    }
} 